<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,512}</string>
                <key>spriteSourceSize</key>
                <string>{288,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{291,323},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{329,323},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{291,351},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bird0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{319,361},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,112}</string>
                <key>spriteSourceSize</key>
                <string>{336,112}</string>
                <key>textureRect</key>
                <string>{{1,515},{336,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{291,1},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,320}</string>
                <key>spriteSourceSize</key>
                <string>{52,320}</string>
                <key>textureRect</key>
                <string>{{345,1},{52,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FlappyBirdAtlas.png</string>
            <key>size</key>
            <string>{398,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e16a9c37362ba983769884e8b59e0b:ebdf226bc2a680ffed0eafb56613d15b:e8dad6a7d78ad121b7808d2269e57e7d$</string>
            <key>textureFileName</key>
            <string>FlappyBirdAtlas.png</string>
        </dict>
    </dict>
</plist>
